{% load static %}
<section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Наши товары
        </h2>
      </div>
       <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div id="sidebar">
              <h3>
                Категории
              </h3>
              <ul>
                <li {% if not category %}class="selected" {% endif %}>
                  <a href='{% url "shop:product" %}'>Все категории</a>
                </li>
                {% for c in categories %}
                  <li {% if categore.slug == c.slug %} class="selected" {% endif %}>
                    <a href='{{ c.get_absolute_url }}'>{{ c.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div id="models">
              <h3>
                Производитель
              </h3>
              <ul>
                <li {% if not name_model %}class="selected" {% endif %}>
                  <a href='{% url "shop:product" %}'>Все производители</a>
                </li>
                {% for n in name_model %}
                  <li {% if name_model.slug == n.slug %} class="selected" {% endif %}>
                    <a href='{{ n.get_absolute_url }}'>{{ n.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
       </div>

        <div id="main" class="product_list">
          <h3>
            {% if name_model or category %} {{ name_model.name}} {{ category.name }}{% endif %}
          </h3>
          {% for product in products %}
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="box">
                  <div class="img-box">
                    <img src="{{ product.img.url }}">
                  </div>
                  <div class="detail-box">
                    <a href="{{ product.get_absolute_url }}" class="inform_btn">
                      <span>
                        More information
                      </span>
                    </a>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="Add to cart">
                    </form>
                    <h5>
                      {{ product.name }}
                    </h5>
                    <div class="product_info">
                      <h5>
                        <span>$ {{ product.price}}</span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>{% endfor %}
            </div>
          </div>
        </div>
    </div>
</section>